@font-face {
	font-family: 'Letov';
	src: url('../fonts/Letov.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}
[class*='__container'] {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	color: #fff;
	-webkit-text-stroke-width: 1;
	-webkit-text-stroke-color: #fff;
	font-size: clamp(2.25rem, calc(1.5561rem + 3.4694vw), 4.375rem);
	font-weight: 400;
	margin-bottom: 1.5rem;
}
.subtitle {
	color: #fff;
	font-size: clamp(1.75rem, calc(1.5867rem + 0.8163vw), 2.25rem);
	font-weight: 300;
	max-width: 395px;
	margin-bottom: 46px;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(34, 41, 68, 0.8);
	z-index: 90;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.8rem;
	position: fixed;
	top: 0;
	left: -100%;
	max-width: 600px;
	width: 100%;
	min-height: 1000px;
	height: 100%;
	background: #1825aa;
	z-index: 100;
	padding: 3.5rem 3rem 3rem 6rem;
	transition: left 0.4s ease 0s;
	overflow-y: auto;
}
.menu__logo {
	display: block;
}
.menu__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.menu__link {
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 500;
	transition: opacity 0.3s ease 0s;
}
.menu__link:hover {
	opacity: 0.7;
}
.menu__search {
	position: relative;
	width: 100%;
	cursor: pointer;
	z-index: 10;
	text-decoration: none;
	display: block;
}
.menu__search {
	background: #1a2696;
	border: none;
	border-radius: 2rem;
	padding: 1.3rem 2rem 1.3rem 3.45rem;
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
	font-style: italic;
	color: #b1b1b1;
}
.menu__search-icon {
	position: absolute;
	top: 50%;
	left: 1.4rem;
	transform: translateY(-50%);
	z-index: 2;
}
.socials-menu__title {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 100;
	margin-bottom: 1.45rem;
}
.socials-menu__group {
	display: flex;
	gap: 1.3rem;
	align-items: center;
}
.menu.open {
	left: 0;
	opacity: 1;
}

.lock {
	/* overflow: hidden; */
}

header.header {
	position: relative;
	padding-bottom: 20px;
}
.header__container {
	max-width: 1000px;
}
.header__nav {
	padding-top: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-header__right {
	display: flex;
	align-items: center;
	gap: 1.875rem;
}
.nav-header__logo {
	position: relative;
	z-index: 20;
}
.nav-header__lang {
	position: relative;
	font-family: 'Letov';
	z-index: 100;
	color: #b1b1b1;
	font-size: 1.5rem;
	font-weight: 500;
	border: none;
	background: transparent;
	cursor: pointer;
}
.burger {
	position: relative;
	width: 61px;
	height: 61px;
	cursor: pointer;
	background: transparent;
	border: none;
	z-index: 110;
}

.burger::before,
.burger::after {
	content: '';
	position: absolute;
	width: 41px;
	left: 10px;
	height: 3px;
	border-radius: 3px;
	background-color: #222944;
	transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
}

.burger::before {
	top: 22px;
}

.burger::after {
	top: 32px;
}
.burger.open {
	border-radius: 1.5rem;
	background: #0075c9;
}
.burger.open::after,
.burger.open::before {
	background: #fff;
}
.burger.open::before {
	transform: rotate(45deg);
	top: 28px;
}

.burger.open::after {
	transform: rotate(-45deg);
	top: 28px;
}
.header__current-page {
	display: flex;
	align-items: center;
	gap: 0.79rem;
	color: #666666;
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	margin-bottom: 4rem;
}
.header__current-page span {
	color: #989898;
}
.header__title {
	color: #1825aa;
	font-family: 'Letov';
	font-size: clamp(2.6rem, calc(1rem + 8vw), 7.5rem);
	font-weight: 400;
}
.header__content {
	padding-left: 140px;
	width: min-content;
	position: relative;
	z-index: 20;
	padding-top: 90px;
}
.button {
	border: none;
	padding: 20px 58px;
	background: #0effd6;
	border-radius: 30px;
	cursor: pointer;
	color: #001287;
	font-size: 1.5rem;
	font-weight: 500;
	-webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
	transition: background 0.3s ease 0s;
	z-index: 20;
}
/* news */
.news {
	padding-top: 2.2rem;
	padding-bottom: 160px;
	position: relative;
	overflow: hidden;
}
.news__container {
}
.news__bg_bottom {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}
.news__bg_bottom img {
}
.news__title {
	color: #1825aa;
	-webkit-text-stroke-width: 1;
	-webkit-text-stroke-color: #1825aa;
	font-family: 'Letov';
	font-size: clamp(2.25rem, calc(1.5561rem + 3.4694vw), 4.375rem);
	font-weight: 400;
	margin-bottom: 90px;
	position: relative;
}
.news__title_back {
	position: absolute;
	left: 0;
	top: -3rem;
	color: #cbcbcb;
	font-family: 'Roboto', sans-serif;
	opacity: 0.2;
	font-size: 7.5rem;
	font-weight: 900;
	z-index: -1;
	text-transform: uppercase;
}
.news__items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 90px;
}

.item-news {
	height: 100%;
	cursor: pointer;
	position: relative;
	z-index: 10;
}
.item-news__img {
	max-width: 320px;
	max-height: 370px;
	width: 100%;
	height: 100%;
	margin-bottom: 1rem;
	overflow: hidden;
	border-radius: 150px;
	position: relative;
	z-index: -1;
}
.item-news__img img {
	width: 100%;
	height: 100%;
	border-radius: 150px;
	overflow: hidden;
	transition: scale 0.4s ease 0s;
}
.item-news__icon {
	width: 48px;
	height: 48px;
	position: absolute;
	right: 15px;
	top: 0;
}
.item-news__icon_hover {
	opacity: 0;
}
.item-news__icon img {
	width: 48px;
	height: 48px;
	position: absolute;
	top: 0;
	left: 0;
	transition: opacity 0.4s ease 0s;
}
.item-news__title {
	color: #333;
	font-size: 1.3125rem;
	font-weight: 400;
	margin-bottom: 18px;
	max-width: 300px;
}
.item-news__date {
	color: #808080;
	font-size: 1rem;
	font-weight: 400;
}
.news__button {
	display: block;
	margin: 0 auto;
	color: #808080;
	border: 1px solid #808080;
}
.news__filter {
}
.filter-news {
	display: flex;
	align-items: center;
	gap: 0.7rem;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 129px;
}
.filter-news__item {
	background: #fff;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	min-height: 45px;
	gap: 10px;
	border: 1px solid #808080;
	padding: 12px 16px 12px 16px;
	border-radius: 2rem;
	color: #808080;
	font-size: 1rem;
	font-weight: 400;
	height: 100%;
	position: relative;
	transition: background 0.3s ease 0s, color 0.3s ease 0s, border 0.3s ease 0s;
}
.filter-news__item.active {
	background: #0075c9;
	border-color: #0075c9;
	color: #fff;
}
.filter-news__item:hover {
	background: #0075c9;
	border-color: #0075c9;
	color: #fff;
}
.filter-news__item:not(:first-child) {
	padding: 12px 16px 12px 45px;
}
.filter-news__item svg {
	position: absolute;
	left: 13px;
	top: 50%;
	transform: translateY(-50%);
}
/* footer */
.footer {
	background: #1825aa;
	position: relative;
	padding-top: 3rem;
}
.footer__decoration {
	position: absolute;
	top: -32px;
	width: 100%;
}
.footer__decoration svg {
	width: 100%;
}
.footer__container {
	display: flex;
	gap: 3.2rem;
	padding-bottom: 4.2rem;
}
.footer__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 3.9rem;
	margin-bottom: 3.9rem;
}
.footer__link {
	color: #fff;
	font-size: 1.3125rem;
	font-weight: 500;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}
.footer__info {
	display: flex;
	gap: 2.73rem;
	margin-bottom: 1.9rem;
}

.time-block-footer {
	color: #0075c9;
	font-size: 1rem;
	font-weight: 400;
}
.time-block-footer__days {
	margin-bottom: 0.44rem;
}
.phone-block-footer__title {
	color: #0075c9;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.24rem;
}
.phone-block-footer__phone {
	display: block;
	padding: 0.4rem 0.8rem;
	background: rgba(14, 255, 212, 0.3);
	border-radius: 1rem;
	text-decoration: none;
	color: #0effd4;
	font-size: 1rem;
	font-weight: 400;
}
.mail-block-footer__title {
	color: #0075c9;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.24rem;
}
.mail-block-footer__mail {
	display: block;
	padding: 0.4rem 0.8rem;
	border: 1px solid #0effd4;
	border-radius: 1rem;
	text-decoration: none;
	color: #0effd4;
	font-size: 1rem;
	font-weight: 400;
}
.address-footer {
	font-style: normal;
}
.address-footer__title {
	color: #0075c9;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
.address-footer__address {
	margin-bottom: 0.5rem;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
}
.footer__license {
	background: #1d2777;
	padding: 1.4rem 1rem;
	color: #0075c9;
	font-family: 'Letov';
	font-size: 0.75rem;
	font-weight: 400;
}
.footer__license-text {
	max-width: 1320px;
	display: block;
	margin: 0 auto;
}
/* hover */
.button:hover {
	background: #0075c9;
	color: #0effd4;
}
.slider-services__slide:hover {
	background: #1e23ac;
}
.slider-services__arrow:hover {
	border: 1px solid #0075c9;
	background: #0075c9;
	color: #fff;
}
.slider-services__slide:hover .slider-services__slide_title {
	color: #fff;
}
.slider-services__slide:hover .slider-services__slide_img_main {
	opacity: 0;
}
.slider-services__slide:hover .slider-services__slide_img_hover {
	opacity: 1;
}
.item-news:hover .item-news__img img {
	scale: 1.06;
}
.item-news:hover .item-news__icon_hover {
	opacity: 1;
}
.item-news:hover .item-news__icon_main {
	opacity: 0;
}
.button-outline:hover {
	background: #fff;
	color: #0075c9;
}
.footer__link:hover {
	opacity: 0.7;
}
/* media */

@media (max-width: 997.98px) {
	.header__content {
		padding-left: 0;
	}
	.filter-news {
		justify-content: start;
	}
	.header__title {
		padding-top: 0;
	}
}
@media (max-width: 767.98px) {
	.header__content {
		padding-left: 0;
	}
	.header__nav {
		padding-top: 20px;
	}
	.services {
		padding-top: 90px;
	}
	.stats__block:not(:last-child) {
		border-right: none;
	}
	.services__title-back {
		display: none;
	}
	.steps__container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
	}
	.steps__title {
		text-align: center;
	}
	.steps__title_back {
		display: none;
	}
	.item-steps {
		flex-direction: column;
	}
	.portfolio__descr {
		display: none;
	}
	.team__flex {
		display: flex;
		justify-content: center;
		align-items: start;
		gap: 40px;
		flex-direction: column-reverse;
		margin-left: 0;
	}
	.team__img {
		align-self: flex-start;
	}
	.warranty__container {
		flex-direction: column;
	}
	.partners__container {
		grid-template-columns: 1fr;
		align-items: center;
		justify-content: center;
	}
	.partners__left {
		display: none;
	}
	.footer__container {
		flex-direction: column;
	}
	.footer__info {
		flex-direction: column;
	}
	.footer__list {
		gap: 2rem;
	}
}
@media (max-width: 680px) {
	.slider-services__pagination {
		width: 100% !important;
		transform: translateX(18%) !important;
	}
	.footer__decoration {
		display: none;
	}
	.menu {
		padding: 3rem 3rem 4rem 3rem;
	}
}
