@font-face {
	font-family: 'Letov';
	src: url('../fonts/Letov.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	max-width: 1920px;
	margin: 0 auto;
	box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.27);
	-webkit-box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.27);
	-moz-box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.27);
}
[class*='__container'] {
	max-width: 1030px;
	margin: 0 auto;
	padding: 0 15px;
}
.button-outline {
	background: transparent;
	border: 1px solid #808080;
	border-radius: 35px;
	display: block;
	max-width: 250px;
	width: 100%;
	min-height: 70px;
	padding: 10px 15px;
	color: #808080;
	font-size: 1.5rem;
	font-weight: 500;
	cursor: pointer;
	transition: background 0.3s ease 0s, color 0.3s ease 0s;
}
.title {
	color: #fff;
	-webkit-text-stroke-width: 1;
	-webkit-text-stroke-color: #fff;
	font-size: clamp(2.25rem, calc(1.5561rem + 3.4694vw), 4.375rem);
	font-weight: 400;
	margin-bottom: 1.5rem;
}
.subtitle {
	color: #fff;
	font-size: clamp(1.75rem, calc(1.5867rem + 0.8163vw), 2.25rem);
	font-weight: 300;
	max-width: 395px;
	margin-bottom: 46px;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(34, 41, 68, 0.8);
	z-index: 90;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.8rem;
	position: fixed;
	top: 0;
	left: -630px;
	max-width: 600px;
	width: 100%;
	height: 100%;
	background: #1825aa;
	z-index: 100;
	padding: 3.5rem 3rem 3rem 6rem;
	transition: left 0.4s ease 0s;
	overflow-y: auto;
}
.menu__logo {
	display: block;
}
.menu__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}
.menu__link {
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 500;
	transition: opacity 0.3s ease 0s;
}
.menu__link:hover {
	opacity: 0.7;
}
.menu__search {
	position: relative;
	width: 100%;
	cursor: pointer;
	z-index: 10;
	text-decoration: none;
	display: block;
}
.menu__search {
	background: #1a2696;
	border: none;
	border-radius: 2rem;
	padding: 1.3rem 2rem 1.3rem 3.45rem;
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
	font-style: italic;
	color: #b1b1b1;
}
.menu__search-icon {
	position: absolute;
	top: 50%;
	left: 1.4rem;
	transform: translateY(-50%);
	z-index: 2;
}
.socials-menu__title {
	color: #fff;
	font-size: 1.5rem;
	font-weight: 100;
	margin-bottom: 1.45rem;
}
.socials-menu__group {
	display: flex;
	gap: 1.3rem;
	align-items: center;
}
.menu.open {
	left: 0;
	opacity: 1;
}

.lock {
	overflow: hidden;
}

header.header {
	position: relative;
	padding-bottom: 20px;
	min-height: 1800px;
	overflow: hidden;
}
.header__nav {
	padding-top: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-header__right {
	display: flex;
	align-items: center;
	gap: 1.875rem;
}
.nav-header__logo {
	position: relative;
	z-index: 20;
}
.nav-header__lang {
	position: relative;
	font-family: 'Letov';
	z-index: 100;
	color: #b1b1b1;
	font-size: 1.5rem;
	font-weight: 500;
	border: none;
	background: transparent;
	cursor: pointer;
}
.burger {
	position: relative;
	width: 61px;
	height: 61px;
	cursor: pointer;
	background: transparent;
	border: none;
	z-index: 110;
}

.burger::before,
.burger::after {
	content: '';
	position: absolute;
	width: 41px;
	left: 10px;
	height: 3px;
	border-radius: 3px;
	background-color: #222944;
	transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
}

.burger::before {
	top: 22px;
}

.burger::after {
	top: 32px;
}
.burger.open {
	border-radius: 1.5rem;
	background: #0075c9;
}
.burger.open::after,
.burger.open::before {
	background: #fff;
}
.burger.open::before {
	transform: rotate(45deg);
	top: 28px;
}

.burger.open::after {
	transform: rotate(-45deg);
	top: 28px;
}
.header__current-page {
	display: flex;
	align-items: center;
	gap: 0.79rem;
	color: #666666;
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	margin-bottom: 2.2rem;
}
.header__current-page span {
	color: #989898;
}
.header__title {
	color: #1825aa;
	font-family: 'Letov';
	font-size: clamp(2.6rem, calc(1rem + 8vw), 7.5rem);
	font-weight: 400;
	margin-bottom: 30px;
}
.header__content {
	padding-left: 50px;
	width: min-content;
	position: relative;
	z-index: 20;
	padding-top: 90px;
}
.button {
	border: none;
	padding: 20px 58px;
	background: #0effd6;
	border-radius: 30px;
	cursor: pointer;
	color: #001287;
	font-size: 1.5rem;
	font-weight: 500;
	-webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
	transition: background 0.3s ease 0s;
	z-index: 20;
}
.map {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 280px;
}

.point {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #7aded4;
	border-radius: 50%;
	cursor: pointer;
	border: 1px solid #fff;
	transition: background 0.3s ease 0s, scale 0.3s ease 0s;
}
.point:hover {
	scale: 1.05;
}
.point::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 1px;
	background: #fff;
}
.point::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1px;
	height: 20px;
	background: #fff;
	transition: opacity 0.3s ease 0s;
}
.point.active {
	background: #1825aa;
	border: none;
	scale: 1.1;
}
.point.active::after {
	background: #0effd4;
}
.point.active::before {
	opacity: 0;
}
.point:nth-child(2) {
	left: 410px;
	top: 330px;
}

.point:nth-child(3) {
	left: 425px;
	top: 460px;
}
.point:nth-child(4) {
	left: 455px;
	top: 378px;
}
.point:nth-child(5) {
	left: 530px;
	top: 380px;
}
.point:nth-child(6) {
	left: 600px;
	top: 350px;
}
.point:nth-child(7) {
	right: 190px;
	top: 280px;
}
.hidden {
	display: none;
}
#info-block {
	position: absolute;
	top: 300px;
	left: 50%;
	transform: translateX(-10%);
	background: white;
	padding: 30px 54px 54px 54px;
	border: 1px solid #ccc;
	border-radius: 7rem;
	max-width: 540px;
	width: 100%;
}
#info-image,
.mobile-header__info-image {
	max-width: 427px;
	max-height: 265px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	margin: 0 auto;
	border-radius: 9rem;
	margin-bottom: 25px;
}
#info-name,
.bottom-map__name,
.mobile-header__info-name {
	color: #666;
	font-size: 17px;
	font-weight: 100;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding-bottom: 23px;
	border-bottom: 1px solid #989898;
}
#info-address,
.bottom-map__address,
.mobile-header__info-address {
	padding: 17px 17px 22px 17px;
	color: #4d4d4d;
	font-size: 24px;
	font-weight: 400;
	border-bottom: 1px solid #989898;
	margin-bottom: 26px;
}
#info-days,
#info-time,
.bottom-map__days,
.bottom-map__time,
.mobile-header__info-days,
.mobile-header__info-time {
	color: #808080;
	font-size: 19px;
	font-weight: 400;
	padding-left: 17px;
}
#info-time,
.bottom-map__time {
	margin-bottom: 1rem;
}
.info-block__bottom,
.bottom-map__bottom,
.mobile-header__info-bottom {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	justify-content: space-between;
	flex-wrap: wrap;
	color: #808080;
	font-size: 19px;
	font-weight: 400;
}
.info-block__tel,
.info-block__email,
.bottom-map__phone,
.bottom-map__mail,
.mobile-header__info-tel,
.mobile-header__info-mail {
	margin-bottom: 0.3rem;
}
.info-block__tel div,
.info-block__mail div,
.bottom-map__phone-label,
.bottom-map__mail-label,
.mobile-header__info-tel-label,
.mobile-header__info-mail-label {
	margin-bottom: 0.3rem;
	margin-left: 17px;
}
.info-block__divider,
.bottom-map__divider,
.mobile-header__info-divider {
	height: 60px;
	width: 1px;
	background: #989898;
}
#info-phone,
#info-email,
.bottom-map__phone-number,
.bottom-map__mail-address,
.mobile-header__info-tel-number,
.mobile-header__info-mail-address {
	color: #0075c9;
	font-size: 21px;
	font-weight: 400;
	border: 1px solid #0effd4;
	border-radius: 2rem;
	padding: 5px 10px;
}
.map__bottom {
}
.bottom-map {
	position: absolute;
	left: 170px;
	bottom: 135px;
}
.city-selector {
	display: none;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	background-color: #f0f4f8;
	border-radius: 8px;
	margin-bottom: 15px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.city-selector label {
	color: #1825aa;
	font-size: 21px;
	font-weight: 400;
	margin-bottom: 8px;
}

.city-selector select {
	width: 100%;
	padding: 10px;
	font-size: 1.2rem;

	border: 1px solid #ddd;
	border-radius: 6px;
	background-color: #ffffff;
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cpath fill='%23999' d='M5 6L0 0h10z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 10px;
	cursor: pointer;
}
.city-selector select option {
	color: #333;
	font-size: 1.2rem;
	padding: 5px;
}
.city-selector select:focus {
	outline: none;
	border-color: #007bff;
	box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.3);
}

.mobile-header__info-block {
	display: none;
	padding: 15px;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}
/* feedback */
.feedback {
	padding-top: 130px;
	margin-bottom: 7rem;
}

.feedback__title {
	color: #1825aa;
	-webkit-text-stroke-width: 1;
	-webkit-text-stroke-color: #1825aa;
	font-family: 'Letov';
	font-size: clamp(2.25rem, calc(1.5561rem + 3.4694vw), 4.375rem);
	font-weight: 400;
	text-align: center;
	margin-bottom: 3rem;
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 44.125rem;
	margin: 0 auto;
	gap: 0.75rem;
}
.form__input {
	width: 100%;
	padding: 2rem;
	border: none;
	border: 1px solid #989898;
	border-radius: 3rem;
	outline: none;
	color: #000;
	font-size: 1.125rem;
	font-weight: 400;
	min-height: 5rem;
}
.form__input::placeholder {
	color: #808080;
}
.form__descr {
	padding-top: 1rem;
	color: #808080;
	font-size: 0.75rem;
	font-weight: 400;
	align-self: flex-start;
	margin-bottom: 1.7rem;
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 44.125rem;
	margin: 0 auto;
	gap: 0.75rem;
}
.form__input {
	width: 100%;
	padding: 2rem;
	border: none;
	border: 1px solid #989898;
	border-radius: 3rem;
	outline: none;
	color: #000;
	font-size: 1.125rem;
	font-weight: 400;
	min-height: 5rem;
}
.form__input::placeholder {
	color: #808080;
}
.form__descr {
	padding-top: 1rem;
	color: #808080;
	font-size: 0.75rem;
	font-weight: 400;
	align-self: flex-start;
	margin-bottom: 1.7rem;
}
/* footer */
.footer {
	background: #1825aa;
	position: relative;
	padding-top: 3rem;
}
.footer__decoration {
	position: absolute;
	top: -32px;
	width: 100%;
}
.footer__decoration svg {
	width: 100%;
}
.footer__container {
	display: flex;
	gap: 3.2rem;
	padding-bottom: 4.2rem;
}
.footer__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 3.9rem;
	margin-bottom: 3.9rem;
}
.footer__link {
	color: #fff;
	font-size: 1.3125rem;
	font-weight: 500;
	text-decoration: none;
	transition: opacity 0.3s ease 0s;
}
.footer__info {
	display: flex;
	gap: 2.73rem;
	margin-bottom: 1.9rem;
}

.time-block-footer {
	color: #0075c9;
	font-size: 1rem;
	font-weight: 400;
}
.time-block-footer__days {
	margin-bottom: 0.44rem;
}
.phone-block-footer__title {
	color: #0075c9;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.24rem;
}
.phone-block-footer__phone {
	display: block;
	padding: 0.4rem 0.8rem;
	background: rgba(14, 255, 212, 0.3);
	border-radius: 1rem;
	text-decoration: none;
	color: #0effd4;
	font-size: 1rem;
	font-weight: 400;
}
.mail-block-footer__title {
	color: #0075c9;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.24rem;
}
.mail-block-footer__mail {
	display: block;
	padding: 0.4rem 0.8rem;
	border: 1px solid #0effd4;
	border-radius: 1rem;
	text-decoration: none;
	color: #0effd4;
	font-size: 1rem;
	font-weight: 400;
}
.address-footer {
	font-style: normal;
}
.address-footer__title {
	color: #0075c9;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
.address-footer__address {
	margin-bottom: 0.5rem;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
}
.footer__license {
	background: #1d2777;
	padding: 1.4rem 1rem;
	color: #0075c9;
	font-family: 'Letov';
	font-size: 0.75rem;
	font-weight: 400;
}
.footer__license-text {
	max-width: 1320px;
	display: block;
	margin: 0 auto;
}
/* hover */
.button:hover {
	background: #0075c9;
	color: #0effd4;
}
.slider-services__slide:hover {
	background: #1e23ac;
}
.slider-services__arrow:hover {
	border: 1px solid #0075c9;
	background: #0075c9;
	color: #fff;
}
.slider-services__slide:hover .slider-services__slide_title {
	color: #fff;
}
.slider-services__slide:hover .slider-services__slide_img_main {
	opacity: 0;
}
.slider-services__slide:hover .slider-services__slide_img_hover {
	opacity: 1;
}
.item-news:hover .item-news__img img {
	scale: 1.06;
}
.item-news:hover .item-news__icon_hover {
	opacity: 1;
}
.item-news:hover .item-news__icon_main {
	opacity: 0;
}
.button-outline:hover {
	background: #fff;
	color: #0075c9;
}
.footer__link:hover {
	opacity: 0.7;
}
/* media */
@media (max-width: 1100px) {
	.map {
		position: absolute;
		left: 50%;
		transform: translateX(-60%);
		top: 280px;
	}
	.bottom-map {
		left: 370px;
	}
}
@media (max-width: 991.98px) {
	.map {
		display: none;
	}
	[data-city='main'] {
		display: block;
	}
	.city-selector {
		display: flex;
	}
	header.header {
		min-height: 0;
		padding-bottom: 200px;
	}
}
@media (max-width: 767.98px) {
	.header__content {
		padding-left: 0;
	}
	.header__title {
		padding-top: 50px;
	}
	.header__nav {
		padding-top: 20px;
	}
	.footer__container {
		flex-direction: column;
	}
	.footer__info {
		flex-direction: column;
	}
	.footer__list {
		gap: 2rem;
	}
}
@media (max-width: 680px) {
	.footer__decoration {
		display: none;
	}
	.menu {
		padding: 3rem 3rem 4rem 3rem;
	}
	.mobile-header__info-block {
		padding: 10px;
	}
	.mobile-header__info-divider {
		display: none;
	}
}
