* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}
[class*='__container'] {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}
header.header {
	min-height: 90vh;
	background: url('../img/header/headerBG.jpg') center center/cover no-repeat;
	/* clip-path: circle(100% at 50% 0); */
	position: relative;
	background-color: #1824aa;
	padding-bottom: 60px;
	margin-bottom: 80px;
}
.header__bottom {
	position: absolute;
	top: 100%;
}
.header__nav {
	padding-top: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-header__right {
	display: flex;
	align-items: center;
	gap: 1.875rem;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 500;
}
.nav-header__logo {
	position: relative;
	z-index: 20;
}
.nav-header__lang {
	position: relative;
	z-index: 20;
}
.burger {
	position: relative;
	width: 61px;
	height: 61px;
	cursor: pointer;
	background: transparent;
	border: none;
	z-index: 20;
}

.burger::before,
.burger::after {
	content: '';
	position: absolute;
	width: 41px;
	left: 10px;
	height: 3px;
	border-radius: 3px;
	background-color: white;
	transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
}

.burger::before {
	top: 22px;
}

.burger::after {
	top: 32px;
}

.burger.open::before {
	transform: rotate(45deg);
	top: 28px;
}

.burger.open::after {
	transform: rotate(-45deg);
	top: 28px;
}
.header__title {
	padding-top: 90px;
	color: #fff;
	font-family: Inter;
	/* font-size: 120px; */
	font-size: clamp(1.625rem, calc(1.0332rem + 7.9592vw), 7.5rem);
	font-weight: 400;
	margin-bottom: 30px;
}
.header__content {
	padding-left: 100px;
	width: min-content;
	position: relative;
	z-index: 20;
}
.header__descr {
	color: #fff;
	font-size: clamp(0.875rem, calc(1.0893rem + 1.4286vw), 2.25rem);
	font-weight: 400;
	margin-bottom: 40px;
	z-index: 20;
}
.header__button {
	border: none;
	padding: 20px 58px;
	background: #fff;
	border: 1px solid #0075c9;
	border-radius: 30px;
	cursor: pointer;
	color: #0075c9;
	font-size: 1.5rem;
	font-weight: 500;
	-webkit-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 17px -8px rgba(0, 0, 0, 0.75);
	transition: background 0.3s ease 0s;
	z-index: 20;
}
/* stats */
.stats {
	padding-top: 35px;
}
.stats__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.stats__block {
	padding: 0 48px;
}
.stats__block:not(:last-child) {
	border-right: 1px solid #989898;
	text-align: center;
}
.stats__title {
	color: #0075c9;
	font-family: Inter;
	font-size: 60px;
	font-weight: 400;
}
.stats__descr {
	color: #4d4d4d;
	font-size: 0.875rem;
	font-weight: 500;
}
/* services */
.services {
	padding-top: 180px;
	/* overflow: hidden; */
}
.services__container {
	position: relative;
}
.slider-services__pagination {
	bottom: -20px;
}
.services__title {
	color: #1825aa;
	font-family: Inter;
	font-size: clamp(2rem, calc(1.2245rem + 3.8776vw), 4.375rem);
	font-weight: 400;
	position: relative;
	margin-bottom: 1rem;
}
.services__title-back {
	position: absolute;
	left: 0;
	bottom: -10px;
	color: #cbcbcb;
	font-family: Roboto;
	font-size: 120px;
	font-weight: 900;
	opacity: 0.3;
	text-wrap: nowrap;
	z-index: -1;
}

.services__slider {
}
.slider-services {
}
.slider-services__swiper {
	margin-bottom: 40px;
}
.slider-services__navigations {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-bottom: 55px;
}
.slider-services__navigations-group {
	display: flex;
	align-items: center;
	gap: 11px;
}
.slider-services__arrow {
	width: 47px;
	height: 40px;
	border: none;
	border: 1px solid #808080;
	border-radius: 20px;
	background: transparent;
	color: #808080;
}
.slider-services__arrow--prev {
}
.slider-services__counter {
	color: #808080;
	font-family: Inter;
	font-size: 1rem;
	font-weight: 400;
}
.slider-services__arrow--next {
}
.slider-services__slide {
	/* max-width: 320px;
	width: 95%; */
	border: 1px solid #808080;
	border-radius: 30px;
	min-height: 273px;
	padding: 30px;
	transition: background 0.3s ease 0s;
}
.slider-services__slide_img {
	margin-bottom: 40px;
	width: 68px;
	height: 68px;
	transition: filter 0.3s ease 0s;
}
.slider-services__slide_img img {
	width: 100%;
	height: 100%;
}
.slider-services__slide_img svg {
	width: 100%;
	height: 100%;
}
.slider-services__slide_title {
	color: #4d4d4d;
	font-size: 1.3125rem;
	font-weight: 500;
	max-width: 220px;
	transition: color 0.3s ease 0s;
}
.slider-services__wrapper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.slider-services__pagination {
	position: static;
}
.swiper-pagination {
}
.swiper-pagination-bullet {
	transition: width 0.3s ease 0s;
}
.swiper-pagination-bullet-active {
	width: 33px;
	background: #b1b1b1;
	border-radius: 5px;
}
/* steps */
.steps {
	position: relative;
	padding-top: 100px;
	margin-bottom: 120px;
}
.steps__bg {
	position: absolute;
	top: 0;
	max-width: 100%;
	z-index: -1;
}
.steps__bg_left {
	left: 0px;
}
.steps__bg_right {
	right: 0;
}
.steps__container {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}
.steps__left {
}
.steps__title {
	color: #18258f;
	-webkit-text-stroke-width: 1;
	-webkit-text-stroke-color: #1825aa;
	font-family: Inter;
	font-size: clamp(2.25rem, calc(1.5561rem + 3.4694vw), 4.375rem);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	position: sticky;
	top: 35%;
	/* transform: translateY(-50%); */
}
.steps__right {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.item-steps {
	background: rgba(255, 255, 255, 0.6);
	border: 1px solid #b1b1b1;
	border-radius: 30px;
	padding: 30px 40px 40px 40px;
	max-width: 510px;
	min-height: 240px;
	display: flex;
	gap: 1rem;
	color: #808080;
}
.item-steps__number {
	color: #b1b1b1;
	font-family: Inter;
	font-size: 70px;
	font-weight: 400;
	transition: color 0.3s ease 0s;
}
.item-steps__content {
}
.item-steps__step-num {
	color: #989898;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 10px;
}
.item-steps__title {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 1rem;
	transition: color 0.3s ease 0s;
}
.item-steps__descr {
	font-size: 18px;
	font-weight: 400;
	color: #808080;
}
.item-steps.active {
	color: #0075c9;
}
.item-steps.active .item-steps__number {
	color: #0075c9;
}
/* portfolio */
.portfolio {
	background: url('../img/portfolio/bg.jpg') center center/cover no-repeat;
	padding-top: 200px;
	padding-bottom: 100px;
	min-height: 800px;
}
.portfolio__container {
}
.portfolio__title {
	color: #fff;
	-webkit-text-stroke-width: 1;
	-webkit-text-stroke-color: #fff;
	font-size: clamp(2.25rem, calc(1.5561rem + 3.4694vw), 4.375rem);
	font-weight: 400;
	margin-bottom: 1.5rem;
}
.portfolio__subtitle {
	color: #fff;
	font-size: clamp(1.75rem, calc(1.5867rem + 0.8163vw), 2.25rem);
	font-weight: 300;
	max-width: 395px;
	margin-bottom: 46px;
}
.portfolio__button {
	background: transparent;
	border: 1px solid #fff;
	border-radius: 35px;
	display: block;
	max-width: 250px;
	width: 100%;
	min-height: 70px;
	padding: 10px 15px;
	color: #fff;
	font-size: 1.5rem;
	font-weight: 500;
	cursor: pointer;
}
/* hover */
.header__button:hover {
	background: #c5c8ca;
}
.slider-services__slide:hover {
	background: #0075c9;
}
.slider-services__slide:hover .slider-services__slide_title {
	color: #fff;
}
.slider-services__slide:hover .slider-services__slide_img {
	filter: invert(100%);
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
}
/* media */
@media (max-width: 767.98px) {
	.header__content {
		padding-left: 0;
	}
	.header__title {
		padding-top: 50px;
	}
	.header__nav {
		padding-top: 20px;
	}
	.stats {
		padding-top: 0;
	}
	.services {
		padding-top: 90px;
	}
	.stats__block:not(:last-child) {
		border-right: none;
	}
	.services__title-back {
		display: none;
	}
	.steps__container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 40px;
	}
	.steps__title {
		text-align: center;
	}
	.item-steps {
		flex-direction: column;
	}
}
